.sidebar-form {
  padding: 15px 35px 15px 35px;

  @media (min-width: 991px) {
    background-color: rgba($color-light, 0.3%);
    border-right: 1px solid $color-light;
  }
  
  & > a {
    color: $color-light;
    font-size: 1.2rem;
  }

  &-btn {
    margin-top: 25px;
    width: 100%;
    background-color: $color-dark;
    border: 1px solid $color-light;
    border-radius: 0;
    color: $color-light;
  }
}

.form-title {
  font-weight: bold;
  margin-bottom: 1.1rem;
}

.form-check{
  margin-top: 10px;

  &-label {
    margin-left: 5px;
  }

  &-input {
    margin-top: 11px;
    appearance: none;
    outline: none;
  
    &:checked {
      background-color: $color-light;
    }
  
    &::before {
      content: '';
      display: block;
      width: 13px;
      height: 13px;
      border: 1px solid $color-light;
    }
  }
}



